<div>
  <h1 align=center> Депрессия и мысли о суициде </h1><br><br><br>
</div>

<div>
  <h2><a (click)="onClick('1')"><h3><b>I.Депрессия</b></h3></a></h2>
  <nz-list nzBordered nzSize="small">
    <nz-list-item><a (click)="onClick('2')"><h3>Симптомы депрессии</h3></a></nz-list-item>
    <nz-list-item><a (click)="onClick('3')"><h3>Возрастные особенности</h3></a></nz-list-item>
  </nz-list>
</div>

<div>
  <h2><a (click)="onClick('4')"><h3><b>II.Мысли о суициде. Признаки суицида.</b></h3></a></h2>
  <nz-list nzBordered nzSize="small">
    <nz-list-item><a (click)="onClick('5')"><h3>Угроза совершить суицид.</h3></a></nz-list-item>
    <nz-list-item><a (click)="onClick('6')"><h3>Резкие изменения в поведении.</h3></a></nz-list-item>
    <nz-list-item><a (click)="onClick('7')"><h3>Тяжкая утрата.</h3></a></nz-list-item>
    <nz-list-item><a (click)="onClick('8')"><h3>Агрессия, бунт и неповиновение.</h3></a></nz-list-item>
    <nz-list-item><a (click)="onClick('9')"><h3>Саморазрушающее и рискованное поведение.</h3></a></nz-list-item>
    <nz-list-item><a (click)="onClick('10')"><h3>Потеря самоуважения.</h3></a></nz-list-item>
    <nz-list-item><a (click)="onClick('11')"><h3>Алкоголизм и наркомания.</h3></a></nz-list-item>
  </nz-list>
</div>
<br>
<br>
<div>
  <h2 id="1"><i><b>I.Депрессия у подростков</b></i></h2>
  <p>По данным Всемирной организации здравоохранения (ВОЗ), депрессия является одним из самых распространенных
    психических расстройств. От нее страдает более 350 миллионов человек в мире из всех возрастных групп.
    Женщины в большей мере подвержены депрессии, чем мужчины. Депрессия является основной причиной
    инвалидности в мире. Тяжелые формы депрессии могут приводить к самоубийству. Часто от депрессии страдают
    подростки.</p>
  <p>Успеваемость в школе, социальный статус среди ровесников, сексуальная ориентация, семейное благополучие
    – все эти факторы имеют огромное влияние на психическое состояние подростка и при неблагоприятных
    обстоятельствах могут приводить к депрессии.</p>
  <p>Зачастую симптомы подростковой депрессии проявляют себя в изменениях настроения и поведения. Подростки
    теряют мотивацию в жизни и становятся замкнутыми. Придя из школы, они закрываются в своей комнате и
    могут сидеть в одиночестве часами, перестают общаться с родителями, друзьями. У них отмечается повышенная
    сонливость, перепады аппетита, тяга к алкоголю. Некоторые прибегают к наркотикам.</p><br>

  <h2 id="2"><i>Симптомы депрессии</i></h2>
  <p>У депрессии не один-два, а множество симптомов, среди которых:</p>
  <nz-list nzBordered nzSize="small">
    <nz-list-item>апатия, избегание друзей;</nz-list-item>
    <nz-list-item>постоянные боли, например головные или желудочные, боли в спине или чувство усталости;</nz-list-item>
    <nz-list-item>бессонница ночью и повышенная сонливость на протяжении дня;</nz-list-item>
    <nz-list-item>чувство грусти, беспокойства или безнадежности;</nz-list-item>
    <nz-list-item>ослабление способности сосредоточивать внимание или самостоятельно принимать решение;</nz-list-item>
    <nz-list-item>забывчивость;</nz-list-item>
    <nz-list-item>безответственное поведение – опоздания и прогулы школы, невыполнение своих обязанностей;
    </nz-list-item>
    <nz-list-item>внезапное снижение успеваемости в школе;</nz-list-item>
    <nz-list-item>потеря аппетита или чрезмерное переедание, что влечет за собой значительную потерю массы тела или
      полноту;
    </nz-list-item>
    <nz-list-item>употребление алкоголя, наркотиков и случайные беспорядочные сексуальные связи;</nz-list-item>
    <nz-list-item>бунтарское поведение;</nz-list-item>
    <nz-list-item>одержимость мыслями о смерти.</nz-list-item>
  </nz-list>

  <h2 id="3"><i>Возрастные особенности</i></h2>
  <p>Симптоматика депрессивных расстройств у подростка имеет отчетливое возрастное своеобразие.</p>
  <p>Для <b> подростков младшего возраста</b> (до 12 лет) свойственны соматические симптомы в виде общего
    недомогания, расстройств пищеварения, нарушения аппетита, астенизации. Наряду с такими
    малодифференцированными признаками изменения общего состояния довольно явственно меняется и поведение
    подростков: прежде вполне общительные, живые и разговорчивые, они становятся одинокими, замкнутыми,
    теряют интерес к увлечениям и играм, жалуются на скуку и усталость и крайне редко – на грусть или тоску.</p>
  <p>В <b>среднем подростковом возрасте</b> (12–14 лет), по мере продвижения из начальной в среднюю школу,
    где усложняется программа и, что значительно важнее, появляется большое количество учителей-предметников.
    Из-за резко изменившейся школьной среды у некоторых подростков развивается депрессия, замаскированная
    школьной фобией. Здесь патологическое состояние определяется нарастающей двигательной и мыслительной
    заторможенностью, которая блокирует способность подростка осваивать новый учебный материал. У подростка
    падает успеваемость. Ответные меры школы и родителей убеждают подростка в его несостоятельности,
    вызывают у него страх порицания и приводят к тотальному отказу от школы.</p>
  <p>В <b>старшем подростковом возрасте</b> (15–18 лет) депрессия нередко оформляется проявлением
    метафизической интоксикации. Переживания утраты смысла жизни свойственны молодости. Депрессивный
    подросток склонен рассматривать эту глобальную проблему как свою личную драму. Размышления о смысле
    жизни и смерти приобретают самодовлеющий характер, превращаются в навязчивое и бесплодное мудрствование,
    лишают подростка способности к продуктивной интеллектуальной деятельности. Подросток становится одиноким
    и отрешенным, дезадаптация постепенно нарастает, приводит к полному социальному краху.</p><br>

  <h2 id="4"><i><b>II.Мысли о суициде</b></i></h2>
  <h2 id="5"><i>Угроза совершить суицид.</i></h2>
  <p> Как правило, суицидальные подростки прямо или косвенно дают своим друзьям и близким понять, что
    собираются уйти из жизни. Прямую угрозу не переосмыслишь, различным толкованиям она не поддается. «Я
    собираюсь покончить с собой», «В следующий понедельник меня уже не будет в живых»... К прямым угрозам,
    даже если в них ощущается надрыв, относиться следует крайне серьезно. Делиться с тобой мыслями о
    самоубийстве ради «красного словца» или с целью розыгрыша едва ли кому-нибудь придет в голову. </p>
  <p>Косвенные угрозы, многозначительные намеки уловить труднее. «Без меня жизнь хуже не будет» или «Иногда
    хочется со всем этим покончить раз и навсегда», или «Господи, как жить-то надоело!» Косвенные угрозы
    нелегко вычленить из разговора, иногда их можно принять за самые обыкновенные «жалобы на жизнь», которые
    свойственны всем нам, когда мы раздражены, устали или подавлены.</p><br>

  <h2 id="6"><i>Резкие изменения в поведении.</i></h2>
  <p>Когда люди вдруг начинают вести себя непривычно, это верный знак того, что с ними что-то неладно. Помни:
    мы ведем себя в зависимости от того, что в данный момент чувствуем. Потенциальные суициденты обычно
    грустны, задумчивы или же взвинчены, озлоблены, часто ненавидят сами себя. в поведении и внешнем виде
    тех, кто вынашивает планы самоубийства, проявляются их отрицательные эмоции. Обратите внимание на
    изменение в поведении ваших родственников и знакомых по следующим параметрам. </p>
  <p><b>Питание.</b> Подростки с хорошим аппетитом становятся разборчивы, те же, у кого аппетит всегда был
    плохой или неважный, едят «в три горла». Соответственно, худые подростки толстеют, а упитанные,
    наоборот, худеют. Анорексия и булимия – латентный суицид.</p>
  <p><b>Сон.</b> В большинстве своем суицидальные подростки спят целыми днями; некоторые же, напротив, теряют
    сон и превращаются в «сов»: допоздна они ходят взад-вперед по своей комнате, некоторые ложатся только
    под утро, бодрствуя без всякой видимой причины.</p>
  <p><b>Школа.</b> Многие учащиеся, которые раньше учились на «хорошо» и «отлично», начинают прогуливать, их
    резко падает. Тех же, кто и раньше ходил в отстающих, теперь нередко исключают из школы.</p>
  <p><b>Внешний вид.</b> Известны случаи, когда суицидальные подростки перестают следить за своим внешним
    видом. Они не причесываются, неряшливо одеваются и даже перестают принимать по утрам душ. Подростки,
    оказавшиеся в кризисной ситуации, неопрятны, они ходят в мятой и грязной одежде, и, похоже, им
    совершенно безразлично, какое впечатление они производят.</p>
  <p><b>Активность.</b>П одростки, которые переживают кризис, теряют интерес ко всему, что раньше любили.
    Спортсмены покидают свои команды, музыканты перестают играть на своих музыкальных инструментах, те же,
    кто каждое утро делал пробежку, к этому занятию остывают. Многие перестают встречаться с друзьями,
    избегают старых компаний, держатся обособленно.</p>
  <p><b>Стремление к уединению.</b> Суицидальные подростки часто уходят в себя, сторонятся окружающих,
    замыкаются, подолгу не выходят из своих комнат. Они включают музыку и выключаются из жизни. Иногда они
    стараются уйти незаметно, чтобы никто из присутствующих не обратил внимание на их отсутствие. Иногда они
    ведут себя так, словно жизнь им опостылела, и всем своим видом дают понять, что все и всё им надоело.</p>
  <p><b>Раздача ценных вещей.</b> Люди, собирающиеся уйти из жизни, часто раздают вещи, которые очень многое
    для них значат. Нужно быть начеку, если человек произносит фразы, похожие на эти: «Мне эта вещь больше
    уже не понадобится» или «Я хочу, чтобы у тебя что-то осталось от меня на память».</p>
  <p><b>Приведение дел в порядок.</b> Одни суицидальные подростки будут раздавать свои любимые вещи, другие
    сочтут необходимым перед смертью «привести свои дела в порядок». Одни кинутся убирать дом, другие
    поспешат расплатиться с долгами, сядут за письмо, на которое должны были ответить давным-давно, или же
    захотят вернуть вещь, взятую у приятеля, вымыть пол в комнате, разобрать бюро или письменный стол. Во
    всех этих поступках нет ничего подозрительного; напротив, сам по себе каждый из них совершенно нормален
    и закономерен. Однако в сочетании с другими «предупреждающими знаками», такое поведение может означать
    реализацию суицидального плана.</p><br>

  <h2 id="7"><i>Тяжкая утрата. </i></h2>
  <p>К мыслям о самоубийстве подростков может подтолкнуть смерть близких: родителей или братьев и сестер.
    После такой утраты жизнь подростка меняется самым решительным образом, теперь ему приходится не только
    примириться с потерей любимого человека, но и заделать брешь, которую эта потеря проделала в его жизни.
    Некоторые подростки вообще не могут себе представить, как они будут жить дальше без отца или матери,
    брата или сестры.</p>
  <p>Потери, от которых страдают подростки, не ограничиваются смертью близких. Некоторые подростки начинают
    задумываться о самоубийстве после ссоры с любимой девушкой или пережив развод родителей.</p><br>

  <h2 id="8"><i>Агрессия, бунт и неповиновение..</i></h2>
  <p>Подростки, которые хотят расстаться с жизнью, часто ущемлены и озлоблены: они злы на родителей, учителей или
    друзей, которые чем-то им не угодили, обидели их, не оправдали их ожиданий. Бывает, они злятся на самих себя, и их
    гнев проявляется в агрессии, бунте и неповиновении. Как и всякая перемена в настроении, подобные «взрывы» должны
    настораживать. Окружающие, как правило, не хотят иметь дело с раздраженным, вспыльчивым, непредсказуемым человеком.
    В результате, от проблемного подростка отворачиваются как раз те люди, которые могли бы, в случае необходимости,
    оказать ему реальную помощь. Человек, находящийся в социальной изоляции, подвергается опасности попасть в зону
    суицидального риска.</p><br>

  <h2 id="9"><i>Саморазрушающее и рискованное поведение.</i></h2>
  <p>Некоторые суицидальные подростки постоянно стремятся причинить себе вред, ведут себя «на грани риска». Они сломя
    голову носятся на машинах, велосипедах и мотоциклах. Где бы они ни находились – на оживленных перекрестках, на
    извивающейся горной дороге, на узком мосту или на железнодорожных путях – они везде едут на пределе скорости и
    риска. Некоторые даже имеют при себе огнестрельное оружие и, строя из себя лихих гангстеров, беззаботно размахивают
    пистолетом, направляют дуло себе в лоб, заявляют, что «шутят», – и демонстрируют наигранное хладнокровие.</p>
  <p>Некоторые молодые люди, находящиеся в группе суицидального риска, перестают заботиться о своем здоровье. Они могут
    начать много курить и пить или употреблять наркотики, либо совмещать наркотики с алкоголем.</p>

  <h2 id="10"><i>Потеря самоуважения.</i></h2>
  <p>Подростки, которые самоуважение утратили. Молодые люди с заниженной самооценкой или же относящиеся к себе и вовсе
    без всякого уважения считают себя никчемными, ненужными и нелюбимыми. Им кажется, что они аутсайдеры и неудачники,
    что у них ничего не получается и что никто их не любит. В этом случае у них может возникнуть мысль, что будет лучше,
    если они умрут.</p><br>

  <h2 id="12"><i>Алкоголизм и наркомания</i></h2>
  <p>Большинство молодых людей, совершающих самоубийство под воздействием алкоголя или наркотиков, на самом деле не
    наркоманы и не алкоголики, им просто очень плохо. Алкоголь и наркотики затуманивают сознание, лишают подростков
    возможности размышлять «на холодную голову».</p>
  <p>Они и без того подавлены – под воздействием же алкоголя и наркотиков самоубийство может показаться им единственным
    средством остановить душевную боль. В результате, у них появляется кураж, и они более расположены к риску, чем в
    трезвом состоянии.</p>

  <p><b>Одаренные подростки.</b> Подростки, одаренные в той или иной области, часто бывают излишне дотошными, мелочными;
    каждый свой шаг они тщательно выверяют, продумывают; им кажется, что любое решение, которое они примут, должно быть
    единственно возможным, что иного пути, кроме ими избранного, не существует. Им сложно – и даже невозможно –
    представить себе, что они ошиблись в своих расчетах и что следует избрать иной путь.</p>

  <p><b>Подростки с плохой успеваемостью в школе.</b> Подростки, которым учиться трудно и которые поэтому плохо
    успевают, часто страдают от низкой самооценки и, как следствие, впадают в депрессию. И то, и другое может привести к
    суициду. </p>
  <p>Поскольку в классе такие учащиеся сталкиваются с особыми трудностями, они находятся в состоянии повышенного
    стресса. Их самооценка постоянно страдает от язвительных, колких замечаний их одноклассников и учителей, отчего у
    них может возникнуть ощущение, что они глупы и никогда ничего не добьются.</p>

  <p><b>Беременность.</b> С каждым годом подростки становятся все более и более сексуально активными, и эти сексуально
    активные подростки не пользуются противозачаточными средствами. вот почему нет ничего удивительно в том, что в наше
    время девушки беременеют все в более и более раннем возрасте. Многие из них – стоит им заподозрить или же убедиться
    в том, что они беременны, – приходят в ужас и панику.</p>
  <p>Для многих девушек беременность – проблема нерешаемая. Они понимают: беременность – не так вещь, которую скроешь, и
    считают, что их отношения с родителями и друзьями будут испорчены навсегда. Им кажется, что жизнь не задалась, из
    чего следует, что смерть – это единственное, что им остается.</p>

  <p><b>Подростки – жертвы насилия.</b> Молодые люди, которым нанесена эмоциональная травма, держатся обыкновенно робко,
    застенчиво, словно боясь привлечь к себе внимание. Их приучили к мысли, что они ни на что не способны, глупы и
    невежественны. Часто поэтому им не хватает уверенности в себе, каждое слово в свою защиту дается им с неимоверным
    трудом.</p>
  <p>Сексуальную травму отследить особенно трудно, поскольку обычно такая трава держится в глубокой тайне. Нанесение
    сексуальной травмы пугает молодых людей, они теряют почву под ногами, испытывают стыд и чувство брезгливости. Такую
    травму многие подростки стараются держать в секрете, ибо боятся, что им никто не поверит. Боятся они и того, как бы
    насильник не расправился с ними или с членами их семьи. </p><br>


</div>
