<div>
  <h1 align=center>Заниженная самооценка</h1><br><br><br>
</div>
<div>
  <p>Комплекс неполноценности мешает гармоничному развитию личности. Он возникает в детстве и часто остается
    на всю жизнь. Причем, внешне это не всегда заметно. </p>
  <p>Заниженная самооценка или комплекс неполноценности — это постоянное, навязчивое ощущение себя хуже других,
    сопровождающееся постоянной неуверенностью в себе и своих силах. </p>
  <p>Самооценка ребенка влияет на то, как ребенок умеет общаться, как реагирует на критику, как ведет себя в
    конфликтной ситуации, насколько сильно он стремится к общению, каких друзей себе выбирает. </p><br>
</div>
<div>
  <h2><i>Признаки заниженной самооценки у подростков:</i></h2>
  <nz-list nzBordered nzSize="small">
    <nz-list-item>Внешний вид — может быть неряшлив, небрежен.</nz-list-item>
    <nz-list-item>Тихий тембр голоса, невнятная речь, заискивающие интонации, привычка извиняться без видимых причин за
      свои поступки.
    </nz-list-item>
    <nz-list-item>Излишняя критичность к себе и своим поступкам, самобичевание.</nz-list-item>
    <nz-list-item>Часто на лице страдальческое выражение лица, при разговоре дети с комплексом неполноценности обычно
      избегают смотреть на собеседника; чрезмерно сутулятся (желание быть незаметным); садятся на самый край
      стула, переплетая ноги (защита от окружающих) или пряча их под стул.
    </nz-list-item>
    <nz-list-item>Малообщительны, ведомые, постоянно жалуются на плохое самочувствие, неприятности. Чаще всего
      неуверенные
      в себе дети и подростки — интроверты (эмоции, чувства направлены внутрь себя, а не во внешний мир).
    </nz-list-item>
    <nz-list-item>Излишняя агрессивность. Грубость с окружающими как защита от внешнего мира, неверие в себя рождает
      недоверие и к окружающим.
    </nz-list-item>
    <nz-list-item>Болезненная реакция на критику, плаксивость.</nz-list-item>
    <nz-list-item>Чрезмерная внешняя самоуверенность в поведении, как ни странно, говорит о низкой самооценке,
      сопровождается желанием «выделиться из толпы» (необычная одежда или поведение с претензией на
      «оригинальность»). Особенно сильно проявляется в подростковом возрасте.
    </nz-list-item>
    <nz-list-item>Желание быть первым всегда и везде. Подросток живет в постоянном стрессе, вынужден доказывать себе и
      окружающим, что он лучше всех. Личности, уверенной в себе, любящей себя, нет нужды доказывать свою
      «исключительность».
    </nz-list-item>
  </nz-list>
</div>
<div>
  <br>
  <h2><i>Почему у подростка заниженная самооценка? Основные причины:</i></h2>
  <nz-list nzBordered nzSize="small">

    <nz-list-item><p><b>Наследственный фактор.</b> Особенности физического развития (наличие заболеваний, инвалидности
      способствует формированию комплекса неполноценности), темперамента (к примеру, сангвиники чаще
      всего общительны, склонны к лидерству, меланхолики очень впечатлительны, остро чувствуют других
      людей и их чувства), умственные способности (у детей, имеющих умственные отклонения или задержку
      психического развития, комплекс неполноценности может быть особенно ярко выражен).</p>
    </nz-list-item>
    <nz-list-item><p><b>Воспитание.</b> Гиперопека — излишняя и навязчивая забота или гипоопека — отсутствие теплых и
      доверительных отношений между ребенком и родителями. Даже любящие родители, сами неуверенные в себе,
      вряд ли смогут воспитать активного и уверенного в себе ребенка. Ведь как можно учить тому, что не
      умеешь сам?</p>
    </nz-list-item>
    <nz-list-item><p><b>Социальные контакты</b> - отношения вне семьи с одноклассниками, педагогами, друзьями,
      знакомыми.
      Детям, особенно в подростковом возрасте, свойственен «дух коллективизма», им важно быть не хуже
      других (по их мнению), нередко травля одноклассников из-за особенностей внешности, физического или
      психического развития ребенка крайне негативно сказывается на характере — подросток или замыкается
      в себе, или становится агрессивным.</p>
    </nz-list-item>
  </nz-list>
</div>
<div>
  <h2><i>Непостоянство уровня самооценки</i></h2>
  <p>Уровень самооценки может измениться: есть немало способов избавиться от комплекса неполноценности и стать
    уверенным в себе человеком. Более подробно можно прочитать в статье Как стать уверенным в себе?. Среди
    знаменитых людей, добившихся успехов, есть множество тех, кто в детстве имел низкую самооценку, но сумел
    справиться с ней. Уровень самооценки может стать ниже из-за серьезных неудач, длительной стрессовой
    обстановки, проблем общения с родителями и т.д. </p>

  <h2><i>Кто чаще страдает комплексом неполноценности?</i></h2>
  <p>Комплексу неполноценности подвержены дети, воспитывающиеся без родителей, нежеланные дети — они уже во
    младенчестве ощущают свою ненужность в мире. У них нет поддержки и опоры в виде родителей, они чувствуют
    себя несовершенными и не умеют себя любить, рассматривают себя как помеху, а не как свободную личность.</p>

  <h2><i>Опасность комплекса неполноценности</i></h2>
  <p>Комплекс неполноценности не только мешает развитию личности, но и может перерасти в затяжную депрессию,
    невроз, особенно если он усугублен иррациональным (необъяснимым, подсознательным) чувством вины. Кроме
    того, если ребенок или подросток страдает заниженной самооценкой, то у него могут быть страхи, фобии, и
    другие навязчивые состояния, могут возникнуть и психосоматические заболевания (физиологические
    заболевания на фоне психических факторов). Справиться с тяжелой формой этого комплекса помогут
    специалисты (психологи, психиатры, психоневрологи). </p>
</div>
