<div>
  <h1 align=center>Психотравмы детства</h1><br><br><br>
</div>
<div>
  <nz-list nzBordered nzSize="small">
    <nz-list-item><a (click)="onClick('1')"><h3>Оскорбления, обесценивания</h3></a></nz-list-item>
    <nz-list-item><a (click)="onClick('2')"><h3>Пренебрежение</h3></a></nz-list-item>
    <nz-list-item><a (click)="onClick('3')"><h3>Неблагополучная семейная обстановка</h3></a></nz-list-item>
    <nz-list-item><a (click)="onClick('4')"><h3>Гиперопека</h3></a></nz-list-item>
    <nz-list-item><a (click)="onClick('5')"><h3>Физическое насилие</h3></a></nz-list-item>
    <nz-list-item><a (click)="onClick('6')"><h3>Сексуальное насилие</h3></a></nz-list-item>
  </nz-list>
</div>
<br>
<br>
<br>
<div>
  <h2 id="1"><i>Оскорбления, обесценивания</i></h2>
  <blockquote class="blockquote">"От тебя одни неприятности"</blockquote>
  <p>Как выглядит: «Родители могут обесценивать ребенка открыто: оскорблять, обзывать, называть ничтожеством,
    — говорит психоаналитик Анфиса Белова. — То же самое можно делать в пассивно-агрессивной форме: через
    сарказм и якобы шутливые прозвища. Взрослые могут оправдывать свое поведение тем, что таким образом
    пытаются мотивировать своих детей на какие-то достижения». Белова описывает типичный пример
    обесценивания так: ребенок приносит родителям показать свой рисунок, а вместо похвалы и одобрения
    слышит, что руки у него растут не из того места и что художник он от слова «худо», да и вообще лучше
    бы он занялся чем-то полезным. </p>
  <p>Александра Меньшикова добавляет, что крик также является формой обесценивания: например, когда у отца
    на работе неприятности и он срывается на ребенке, чтобы разрядиться. Еще один вариант такого
    травмирования — когда ребенку задают высокие стандарты, например, в учебе, а он получает четверки,
    и ему повторяют, что он никто и ничего из себя не представляет. </p>
  <p>К чему приводит: Берман и Белова говорят, что в такой ситуации происходит невротическое формирование
    личности, которое может перерасти в синдром отличника или перфекционизм — болезненное стремление быть
    во всем лучшим, когда человек втайне надеется все-таки заслужить любовь и признание родителей.
    Также обесценивание в семье может привести к неуверенности в своих силах, страху поражения и
    пассивности. Теряется связь с собой: человек не знает, как себя успокоить, не может понять, что придаст
    ему уверенности в себе. По словам Беловой, у ребенка формируется установка, что любое его дело обречено
    на провал и что он может встретить со стороны других людей только критику, поэтому будет безопаснее
    отказаться от активных действий и оставаться в тени. «Когда человек не может найти радость внутри,
    он ищет ее извне — это может вылиться, например, в стремление к потребительству, шопоголизм»,
    — говорит Берман. </p>
  <p>Как справиться: Белова считает, что обесценивание практически невозможно пережить самому, поэтому для
    глубинной проработки проблемы необходима поддержка специалиста, которая поможет двигаться в
    нужном направлении. В процессе психоанализа травма осознается и заново проживается: человек
    учится заново строить взаимоотношения с миром и окружающими людьми.</p><br>
</div>
<div>
  <h2 id="2"><i>Пренебрежение</i></h2>
  <blockquote class="blockquote">"Давай потом"</blockquote>
  <p>Как выглядит: Вместо того чтобы общаться с ребенком, родители все свое время работают над тем, чтобы его
    обеспечить. Анфиса Белова называет это «подменой понятий», когда под любовью к ребенку подразумевается
    лишь содержание его в комфортных условиях. «Внешне такая семья может выглядеть вполне благополучно:
    ребенок сыт и одет, у него хорошие игрушки, он ходит на различные развивающие занятия, но при этом
    счастья они ему не приносят», — добавляет она.</p>
  <p>Александра Меньшикова говорит, что в такой ситуации, если ребенок пытается поговорить о своих проблемах,
    ему отвечают: «Ты не видишь? Мы устали! Отстань!» Ребенка никто не слушает, он чувствует себя
    отвергнутым.</p>
  <p>К чему приводит: «Возникает ощущение одиночества, брошенности и недоверия, — говорит психотерапевт
    Екатерина Василевская. — Эти ощущения остаются с человеком в дальнейшей жизни. Он может вступать в
    отношения, но детское чувство брошенности никуда не уйдет». Меньшикова добавляет, что такой человек
    не будет находиться в контакте со своими эмоциональными потребностями, не сможет осознавать своих границ
    — это значит, что ему будет легче соглашаться на неудобные для себя условия. В будущем он может выбирать
    себе партнеров, которые также будут отвергать и игнорировать его чувства. </p>
  <p>Психоаналитик Белова предупреждает, что нехватка внимания и общения дома может приводить к тому, что
    ребенок начнет искать его в другом месте, где он почувствует, что в нем нуждаются и его ценят.
    Часто дети, не получающие тепло в семье, рано вступают в романтические и сексуальные отношения.
    Чтобы справиться с одиночеством, некоторые прибегают к помощи алкоголя или наркотических средств. Они
    могут использовать вызывающее или асоциальное поведение, для того чтобы завоевать любовь и внимание
    родителей. </p>
  <p>Как справиться: Василевская и Белова говорят, что ощущение безопасности и заботы, которое не было
    получено в детстве, должно компенсироваться в будущем. Построение собственных гармоничных
    взаимоотношений может помочь справиться с этой травмой. Также компенсировать нехватку родительской
    любви могут и другие родственники (бабушки, дедушки). Если таких взаимоотношений нет, безопасную
    среду, в которой человек сможет получить недостающую заботу, может создать психотерапевт. </p><br>
</div>
<div>
  <h2 id="3"><i>Неблагополучная семейная обстановка</i></h2>
  <blockquote class="blockquote">"Вместе ради ребенка"</blockquote>
  <p>Как выглядит: «Это происходит в семьях, где люди несчастны друг с другом, но продолжают жить вместе ради
    ребенка, когда между родителями нет коммуникации и есть откровенная ненависть, — говорит психотерапевт
    Меньшикова. — Ребенок замечает эти страдания и получает сигнал, что источник зла — он сам». Анфиса
    Белова говорит, что в таких семьях родители приносят свою жизнь в жертву ради мнимого благополучия
    ребенка. Но даже если они стараются не проявлять свое отношение друг к другу открыто, напряжение все
    равно витает в воздухе, выражаясь в мелочах. И ребенок, конечно, все это чувствует. Еще хуже, если
    родители постоянно ругаются при ребенке или заставляют его вставать на чью-то сторону.</p>
  <p>К чему приводит: «Ребенок учится чему-то на примере родителей, и если он не видит любви и коммуникации
    между мамой и папой, то и сам не научается любить и выражать свои чувства, — говорит Екатерина
    Василевская. — Такой человек будет эмоционально закрытым и холодным, будет жить с ощущением,
    что он — проблема для других людей. Такая установка способствует появлению суицидальных мыслей
    и наклонностей». </p>
  <p>Анфиса Белова считает, что в результате такого опыта человека часто преследует сильное чувство вины.
    Он может винить себя за то, что разрушил жизнь родителей, считать, что без него их жизнь была бы лучше.
    Неблагополучная семейная обстановка может приводить к различным невротическим расстройствам, депрессиям,
    проблемам в построении межличностных отношений, нежеланию и страху заводить собственную семью.</p>
  <p>Как справиться: «Понять, что жизнь вместе — это выбор родителей и ребенок за него ответственности не
    несет», — советует Белова. Психотерапевт Василевская утверждает, что с проблемой можно справиться, если
    удастся построить теплые доверительные отношения с другими людьми. Это могут быть родственники, друзья,
    учителя, наставники, любимый человек и все те люди, с которыми человек получает опыт принятия, поддержки
    и заботы. В роли такого человека может выступить психолог или психотерапевт.</p><br>

  <h2 id="4"><i>Гиперопека</i></h2>
  <blockquote class="blockquote">"Мамино золотко"</blockquote>
  <p>Как выглядит: «Со стороны гиперопека может выглядеть как сильная любовь родителей к ребенку и забота о
    его безопасности и благополучии, — говорит Белова. — Но за этой заботой скрывается нежелание отпускать
    ребенка от себя и видеть в нем личность, стремление реализовать собственные амбиции через ребенка,
    страхи и даже агрессия». Белова и Берман утверждают, что гиперопека — результат повышенной тревожности
    родителей. </p>
  <p>Екатерина Василевская говорит, что в ситуации гиперопеки ребенок не участвует в принятии семейных решений,
    за него решают все: на какие кружки ходить, в какой университет поступать. От ребенка скрывают важные
    семейные события — например, похороны и развод. «Для ребенка гораздо более травмирующим опытом станет
    правда, которую он узнает спустя время, — говорит психоаналитик Наталия Феоктистова. — Если детей не
    берут на похороны близкого человека, у них не будет возможности пережить совершенно естественный процесс
    потери. Совсем недавно я наблюдала на детской площадке конфликт девочек пяти лет и девочек постарше.
    Одна из бабушек побежала спасать свою внучку от лап страшных взрослых девочек, тем самым формируя у нее
    позицию жертвы. Нужно дать возможность ребенку самому справиться с этой ситуацией или подсказать, как
    быть, но не решать конфликт за него». </p>
  <p>К чему приводит: Василевская и Белова говорят, что в гиперопекающей семье ребенок часто не учится слышать
    себя, свои чувства и желания, потому что за него все решают родители. Он не знает, чего он хочет, и не
    может отделить свои желания от родительских установок. Ему кажется, что он не может на себя положиться.</p>
  <br>
  <p>Феоктистова считает, что из-за гиперопеки человек вырастает несамостоятельным. Он всегда будет
    ориентироваться на мнение других людей. «Подросший ребенок либо начнет бунтовать, чтобы отстоять свое
    право быть отдельной личностью, либо капитулирует и поплывет по течению, — говорит Анфиса Белова. — Во
    втором случае это может привести к депрессии, апатии, психосоматическим заболеваниям».</p>
  <p>Феоктистова считает, что из-за гиперопеки человек вырастает несамостоятельным. Он всегда будет
    ориентироваться на мнение других людей. «Подросший ребенок либо начнет бунтовать, чтобы отстоять свое
    право быть отдельной личностью, либо капитулирует и поплывет по течению, — говорит Анфиса Белова. — Во
    втором случае это может привести к депрессии, апатии, психосоматическим заболеваниям».</p>
  <p>Как справиться: Екатерина Василевская советует учиться понимать свои желания, определять, что важно, а
    что второстепенно, ставить цели и принимать решения. Психоаналитик Анфиса Белова говорит, что в этом
    случае надо физически и эмоционально отделиться от родителей: иногда достаточно начать жить отдельно и
    начать обеспечивать себя.</p><br>
</div>
<div>
  <h2 id="5"><i>Физическое насилие</i></h2>
  <blockquote class="blockquote">"Для профилактики"</blockquote>
  <p>Как выглядит: Меньшикова и Белова говорят, что в нашей культуре насилие — это размытая категория. Многие
    считают, что бить детей нормально — мол, так они лучше усвоят урок. В российском обществе под физическим
    насилием до сих пор понимается лишь избиение ребенка до травм и синяков, хотя на самом деле любое
    посягательство на его личные границы (подзатыльник, шлепок по попе или битье ремнем) тоже является
    насилием. Единственное, чему учится ребенок в такой ситуации, — это бояться и ненавидеть наказующего.</p>
  <p>Меньшикова и Феоктистова говорят, что если единственный контакт родителей с ребенком возникает, только
    когда они его бьют, у него возникает связь, что битье лучше безразличия. «Часто родители жалуются,
    что их дети нарочно делают что-то плохое. Возможно, это и есть та ситуация, когда ребенок вызывает вас
    на контакт, потому что это единственный способ получить внимание», — добавляет Меньшикова.</p>
  <p>Феоктистова считает, что больший вред психологическому состоянию ребенка наносит не систематическое
    битье, а непредсказуемая реакция родителей. Когда за один и тот же проступок ребенка бьют, а через
    некоторое время этой же ситуации не придают никакого значения. В таком случае ребенок не знает, чего
    ожидать, он не может адаптироваться и понять, как ему поступать. «В так называемой благополучной семье
    ребенка могут наказывать ремнем за плохие оценки, считая это всего лишь методом воспитания, а в семье,
    где родители, например, страдают алкогольной зависимостью, ребенок может подвергаться насилию только за
    то, что он есть», — заключает Белова. </p><br>
  <p>К чему приводит: Меньшикова и Белова говорят, что у ребенка может нарушиться контакт с телом: будет
    сложно расслабиться из-за высокого уровня тревоги и постоянного внутреннего напряжения.</p>
  <p>Чаще всего, если физическое насилие есть дома, этот опыт продолжается и в школе: бьют его или он. Физическое
    насилие в семье может задавить личность ребенка, поставив его навсегда в положение жертвы. Есть много
    детей, которые не могут постоять за себя, потому что дома у них подчиненная позиция. Не имея возможности
    дать отпор родителю, ребенок может начать отыгрываться на тех, кто младше и слабее (в том числе на
    животных), а впоследствии, когда он станет взрослым, будет вести себя так же по отношению к своим детям.</p>
  <br>
  <p>Как справиться: Психоаналитик Белова и психотерапевт Василевская говорят, что в некоторых случаях с
    последствиями физического насилия в семье человек может справиться самостоятельно: через осознание
    причин такого поведения родителей и работы над собой. Но, как и при других детских травмах, здесь чаще
    всего необходима помощь специалиста, который поможет переосмыслить этот непростой опыт.</p><br>
</div>
<div>
  <h2 id="6"><i>Сексуальное насилие</i></h2>
  <blockquote class="blockquote">"Это будет нашим секретом"</blockquote>
  <p>Как выглядит: Психотерапевт Меньшикова говорит, что дети и подростки плохо осознают границы своего тела,
    ведь часто им никто не объясняет, что такое насилие, а что такое нормальная коммуникация. Из-за этого
    они могут подвергаться сексуальному насилию и оказаться в ловушке. По статистике каждая четвертая девочка
    и один из шести мальчиков сталкиваются с этим до 18 лет. Сексуальным насилием считается не только
    пенетрация, но и любое нарушение границ тела, например поглаживание.</p>
  <p>«Взрослым человеком это может преподноситься как «игра», как нечто безобидное, ребенок же в силу своего
    возраста не всегда полностью осознает происходящее, не знает, как на это реагировать, боится сказать
    нет», — говорит Белова. Меньшикова и Белова уверяют, что чаще всего дети сталкиваются с сексуальным
    насилием от близких людей. «Все происходит за закрытыми дверями, когда все члены семьи знают и молчат,
    — рассказывает Александра Меньшикова. — Популярная история, когда дочь — расплата за счастье матери:
    мама делает вид, что дочку не насилуют, потому что боится, что от нее уйдет мужчина. Больше всего от
    сексуального насилия страдают девочки. Что касается мальчиков, то многие из них не воспринимают ранний
    сексуальный опыт как насилие, им кажется, что иметь секс до 14 лет со взрослой тетенькой якобы круто».</p>
  <p>К чему приводит: Эксперты Белова и Меньшикова говорят, что люди, пережившие сексуальное насилие,
    достаточно негативно относятся к себе и своему телу. Их преследует чувство стыда, они считают себя
    грязными и недостойными любви. Тем, кто пережил сексуальное насилие в детстве, бывает сложно построить
    здоровые и гармоничные отношения во взрослом возрасте.</p>
  <p>Последствиями сексуального насилия также могут быть невротические расстройства, страхи, фобии, депрессии.
    По некоторым данным, самым распространенным последствием сексуального насилия становится
    посттравматический стресс. Вызывающее поведение, низкая самооценка, гиперсексуальность и злоупотребление
    психоактивными веществами также часто встречаются среди жертв сексуального злоупотребления.</p>
  <p>Как справиться: «С последствиями сексуального насилия справиться самостоятельно очень сложно. Для
    проработки этой травмы необходима индивидуальная или групповая работа с психологом или психотерапевтом»,
    — говорит психоаналитик Белова. Психотерапевт Василевская также считает, что пережить опыт сексуального
    насилия необходимо с поддержкой специалиста, который поможет сформировать здоровое отношение к себе и
    своему телу. </p><br>
</div>


