<div class="d7">
  <h1 align=center>Смысл жизни</h1><br><br><br>
</div>
<div>
  <nz-list nzBordered nzSize="small">
    <nz-list-item><a (click)="onClick('1')"><h3>В чём заключается смысл жизни человека?</h3></a></nz-list-item>
    <nz-list-item><a (click)="onClick('2')"><h3>Как устроен процесс реализации себя?</h3></a></nz-list-item>
    <nz-list-item><a (click)="onClick('3')"><h3>Заблуждения о смысле жизни.</h3></a></nz-list-item>
    <nz-list-item><a (click)="onClick('4')"><h3>Как обрести смысл жизни?</h3></a></nz-list-item>
  </nz-list>
</div>
<br>
<br>
<br>
<div>
  <h2 id="1"><i>В чём заключается смысл жизни человека?</i></h2>
  <p>Кто-то или что-то на славу потрудилось, придумав нас настолько непохожими друг на друга, но в одном это
    что-то явно загналось несильно, а именно в человеческой необходимости стремиться к чему-либо. Да, каждый
    человек уникален, но не существует ни одной жизни, в которой не было бы мечт, желаний, и целей, ведь все
    мы куда-то движемся в нашем существовании, нам важно чего-то достичь, никто из нас не хочет прожить зря. </p><br>

  <p><b> О потребности в самореализации.</b> Почему так происходит? При создании новой жизни Вселенная выдаёт человеку
    набор ресурсов, обычно в
    комплект входит пара ног и рук, мозг, букет личностных качеств, какой-нибудь дрянной характер, ряд
    базовых умений, ну и собственно сама жизнь.</p>
  <p>Взяв всё это с полки и торжественно вручив вам, Вселенная озвучивает всего лишь одно короткое пожелание:
    «Это твоё, пожалуйста, используй это как-нибудь».</p>
  <p>Так мы плавно подошли к главной потребности человека, в основе которой лежит всё. Речь идёт о
    необходимости реализовать себя, раскрыть свой потенциал. Объединяющее нас стремление чего-то достичь и
    куда-то прийти — это и есть жажда удовлетворить потребность в самореализации.</p>
  <p>Возможно здесь вы весело ударите в ладоши с радостным возгласом: «Ура, теперь я знаю, в чём же
    заключается смысл жизни человека!» — не спешите с выводами. Необходимость реализовать себя — это такая
    же потребность, как и нужда во сне или пище, самореализация — просто часть нашего существования.</p>

  <p><b>Зачем был изобретён тот самый смысл.</b> Идея со смыслом жизни — целиком и полностью человеческое изобретение, и
    изобретение это — гениально, если
    понять его суть.</p>
  <p>Для начала немножко терминологии, мы уже знаем, что единственное пожелание этого мира для нас заключается
    в том, чтобы мы реализовали себя. Это стремление сидит в нас настолько глубоко, что мы соорудили
    стратегию, которая позволяет раскрывать наш потенциал.</p>
  <p>Суть стратегии в том, чтобы упорядочить всю свою жизнь, сведя всё в ней к одной более-менее конкретной
    идее, в направлении которой необходимо двигаться. Таким образом, смысл жизни — это идея, позволяющая
    реализовать себя.</p>

  <p><b>Бессмысленная жизнь — ужасна.</b> Бессмысленно прожитая жизнь никогда не заканчивается хорошо. Жить бесцельно
    намного проще — это ни к чему
    не обязывает, но и ни к чему не приводит. Не имея ответа на вопрос «В чём заключается смысл моей жизни?»,
    человек не может направить и использовать свою энергию.</p>
  <p>Наличие смысла неслабо фокусирует, что и позволяет некоторым из нас делать воистину монументальные вещи.
    Именно поэтому в статье о том, как начать действовать эффективно, упоминалось об одной конечной идее,
    в которую должны упираться все действия.</p>

  <p><b>Желание быть значимым.</b> Каждый человек желает что-то значить, несладко приходится ощущать себя никем, который
    никому на этой
    планете не нужен. Смысл позволяет придать нашей жизни вес, значимость, ведь реализуя при помощи себя
    какую-либо идею, ты резко начинаешь иметь значение в своих глазах и в глазах мира в целом.</p>

  <p><b>Интерес к жизни.</b> Ещё одним важным аргументом в пользу гениальности изобретения под названием «Смысл жизни»
    является то,
    что наличие данной идеи в уме поддерживает наш интерес к жизни. Жизнь интересует нас ровно до тех пор,
    пока нам что-то в ней нужно, а когда никаких идей в уме больше нет — прекращается наш рост и наступает
    смерть.</p><br>
</div>

<div>
  <h2 id="2"><i>Как устроен процесс реализации себя?</i></h2>
  <p>Если любой смысл жизни — это способ реализовать себя, значит нам необходимо понять, как происходит сам
    процесс реализации человека. В его основе лежат пять базовых принципов, исходя из них все мы и живём.</p>
  <p>Одни люди прекрасно осознают данные принципы, что и позволяет им реализовывать себя самым эффективным
    образом, другие — не осознают и всё равно следуют тем же принципам подсознательно, правда данный подхо
    намного менее эффективен.</p>

  <p><b>Развитие.</b> Как только мужская клетка удачно встречается с женской, объявляя начало новой жизни, — с этого
    момента
    начинается постоянное развитие человека во всех аспектах жизни. Особенно в первые лет 15 этот процесс
    бросается в глаза, человек визуально претерпевает серьёзные изменения, да и в интеллектуальном плане
    развивается гигантскими темпами. Мир непрерывно совершенствуется, вынуждая нас развиваться вместе с ним.</p>
  <p>Любое человеческое достижение — результат долгого развития, иначе мы бы здесь все с первых минут жизни
    без особого труда умели выдавать нечто гениальное, но любой действительно стоящий результат достигается
    в затяжном процессе получения навыков, знаний и практики. Чтобы сделать что-либо дельное, необходимо
    вырасти относительно того, кем ты являешься сейчас.</p>

  <p><b>Поиск.</b> Стоит ли говорить, что самые популярные ресурсы в интернете — это поисковые системы, в которых все мы
    ищем интересующую информацию.</p>
  <p>Жизнь никогда не становится для человека однозначной, понятной или простой как раз потому, что процесс
    реализации себя подразумевает поиск, который невозможен, если вся искомая информация уже будет на руках.</p>
  <p>Необходимость искать в попытке познать мир и поддерживает наш интерес к жизни. Любой интерес или
    любопытство, которые в нас возникают, — это стремление что-то найти, а значит мы ищем каждый день.</p>
  <p>Ещё одной идеей поиска является самопознание. Каждому человеку дико интересно узнать, что он из себя
    представляет и как выглядит со стороны.</p>

  <p><b>Создание.</b> Возможность творить — величайшая привилегия человека. Возьмите любого гражданина, который оставил
    след
    , и увидите, что ему удалось там наследить по причине того, что он за свою жизнь создал нечто грандиозное.</p>
  <p>Кто-то из них сотворил гениальную музыку или фильм, кто-то изобрёл колесо, а кто-то создавал равенство
    между чёрными и белыми людьми.</p>
  <p>Создание — это процесс застраивания земельной площадки при помощи имеющихся на руках инструментов.
    Реализовать себя и при этом ничего не создать — невозможно, ибо сам процесс раскрытия потенциала
    подразумевает извлечение ресурсов из себя и вложение их в вашу идею — в ходе этих манипуляций неизбежно
    происходит создание чего-либо.</p>

  <p><b>Любовь.</b> Любовь — это трепет, с которым конструктор собирает свой новый автомобиль, или отдача, с которой
    тренируется титулованный атлет, или усердие, с которым режиссёр снимает свой фильм. В данном контексте
    под «любовью» можно понимать адское и непреодолимое желание что-то сделать.</p>
  <p>Реализация себя — это путь длинной в жизнь, необходима реактивная движущая сила, чтобы суметь сей путь
    пройти, и любовь отлично смотрится в этой роли. Неумение делать то, что любишь и является одной из
    основных причин, почему люди ленятся.</p>
  <p>Без любви ничто не может быть прекрасным, потому всё самое существенное всегда создаётся с любовью и
    благодаря любви. </p><br>
</div>

<div>
  <h2 id="3"><i>Заблуждения о смысле жизни.</i></h2>
  <p>В современном обществе существует несколько устоявшихся мнений относительно смысла жизни. Это те идеи,
    в которые многие из нас верят, но они полностью выпадают из концепции реализации себя, о которой мы
    здесь беседуем. Давайте разберём их детальнее, чтобы кто-то ненароком не сделал неподходящий выбор.</p>

  <p><b>Жизнь и есть смысл жизни.</b>«В чём заключается смысл жизни человека? —У тебя есть жизнь — живи, просто будь, в
    этом и есть твой
    великий смысл» — вот традиционное понимание этой идеи, и, увы, мы часто живём с ней.</p><br>
  <p>Возвращаемся к метафоре, где жизнь — это выделенная человеку земельная площадь. Какой глубокий смысл
    заложен в эту площадку и может ли он в ней быть в принципе, если она никак не используется, не
    реализуется, не застраивается?</p>
  <p>Жизнь — это всего лишь пространство, в пределах которого ты можешь проявить себя, она не может быть
    смыслом, но является ресурсом, позволяющим любой смысл реализовать.</p>
  <p>Идея сделать жизнь смыслом жизни весьма удобна для человечества, так как ей очень легко следовать,
    короче говоря, вообще ничему не надо следовать, ничто не вынуждает тебя двигаться, ты просто существуешь
    и всё. Видимо поэтому данная идея и является такой популярной, но примерно настолько же бездарной,
    потому что никак не позволяет человеку раскрыть себя.</p>

  <p><b>Жизнь одна, надо взять от неё всё.</b> Эта идея является ещё одним вариантом понимания мысли о том, что жизнь и
    есть смысл. Если представить,
    что жизнь всего одна, значит права на ошибку у человека в ней попросту нет, ведь другого шанса тебе не
    предоставляется.</p><br>
  <p>Забавно, но здесь мы в стремлении «брать всё» ошибаемся уже на старте. Реализация себя это не «брать всё»,
    а «искать в себе, извлекать найденное и отдавать его с любовью» — это две принципиально отличающиеся идеи.</p>
  <p>Потому любое желание накопить побольше денег, машин, домов или ещё чего-то без мысли о том, как ты это
    используешь в целях самореализации — крайне дурацкое желание.</p>
  <p>У человека может быть 15 бульдозеров, 300 рабочих в подчинении и куча денег, но если, имея всё это, он не
    застраивает площадку, то всё накопленное им ничего не будет стоить.</p>

  <p><b>Смысл в обретении счастья и успеха.</b> Среди предыдущих идей эта — самая вменяемая, но имеет одну весомую
    неточность, которая лежит в
    непонимании того, что такое счастье и успех.</p>
  <p>Эти понятия не могут быть целью существования, но обычно являются следствием существования с подходящей
    целью. Если выбран удачный смысл и со стороны человека происходит движение в его направлении, то счастье
    и успех станут приятным следствием этого процесса и индикатором того, что человек эффективно себя
    реализует.</p><br>
</div>

<div>
  <h2 id="4"><i>Как обрести смысл жизни?</i></h2>
  <p>Чтобы найти ответ на вопрос «В чём заключается смысл жизни человека?» необходимо представлять, как
    происходит процесс обретения того самого смысла.</p>

  <p><b>Как человек находит смысл.</b>В наших умах постоянно появляются мысли, среди этих мыслей есть идеи. Идеи могут
    либо не заинтересовывать
    нас, и тогда мы благополучно отпускаем их, либо идеи могут нас заинтересовывать, вследствие чего в нас
    появляется желание возникшую идею реализовать.</p>
  <p>Затем мы приступаем к исследованию интересующей нас идеи. Исследование — это движение в направлении идеи
    с целью понять её глубину и значимость. Если в процессе исследования человек начинает осознавать всю
    мощь идеи, она становится смыслом его жизни. После этого всё его бытие во всех его конкретно взятых
    моментах будет направлено в сторону осуществления найденного смысла.</p>
  <p>Когда ты открываешь для себя настолько монументальную идею, тебе не приходится думать: «А действительно
    ли это смысл моей жизни?» — этот вопрос просто не возникает в голове, ибо человеку всё итак ясно. Тебе
    не приходится долго и мучительно подстраивать под эту идею свою жизнь, идея сама поглощает тебя с
    головой.</p>
  <p>В целом процесс обретения любого смысла происходит по одному и тому же алгоритму: идея — желание —
    исследование — обретение смысла.</p>

  <p><b>Следовать за желанием.</b> Рецепта на тему «Как обрести смысл жизни» не существует, ведь это занимательный
    процесс поиска и создания,
    которого не может быть лишён человек. Но есть одна фантастическая рекомендация — не игнорировать своё
    желание.</p>
  <p>Желание — это то, на что смело можно опираться. Наша всеобщая чума заключается в том, что мы под прессом
    общественного мнения, собственных ограничений, комплексов и прочей фигни задвигаем большинство наших
    желаний куда подальше. Этим и объясняется суровая реальность, в которой большая часть населения
    занимается тем, в чём не находит особого смысла и что, откровенно говоря, попросту не любит.
    Мы слишком редко прислушиваемся к нашему желанию.</p>
  <p>Если в вас появляется желание реализовать идею — исследуйте её, двиньтесь в направлении этой идеи,
    попробуйте оценить её глубину, ведь желание возникло внутри вас не случайно, постарайтесь понять,
    почему эта идея так зацепила вас.</p>
  <p>Когда мы начинаем исследовать наши желания — мы начинаем искать по-настоящему, и в конечном счёте находим.
    Совсем не важно, какая это будет идея: открыть кофейню, делать жизнь людей весёлой или слепить снеговика
    в июне из земли.</p>
  <p>Если вы увидели в вашей идее возможность для реализации себя и вам ясно, как среди этого процесса
    осуществить вышеупомянутые пять принципов — вам непременно стоит уделить внимание вашей идее, рано или
    поздно с таким подходом вы наделите жизнь смыслом.</p>

  <p><b>Смысл жизни непостоянен </b> Возможно вы сейчас думаете, что ошибиться в главном ну никак нельзя, а отсюда не
    совсем ясно, как найти
    нечто однозначно подходящее на всю жизнь. Здесь необходимо понимать, что человек непрерывно растёт и то,
    что сегодня ему казалось самым значительным, уже завтра может показаться несущественным и уступит место
    более монументальной идее.</p>
  <p>Это закономерно, мы буквально вырастаем из одной идеи и приходим к другой. Даже если на протяжении лет
    идея остаётся прежней, человек начинает понимать её более полно и широко.</p>
  <p>Всё это неотъемлемая часть процесса поиска и развития, поэтому, выбирая монументальную идею и следуя
    своему желанию, не стоит сильно заморачиваться по поводу того, что через какое-то время данная идея
    потеряет значение. Важно осознавать, что если текущая идея не будет исследована, то более глобальная
    идея вообще не сможет быть обнаружена, а это делает невозможным раскрытие нашего потенциала.</p>
</div>
