<nz-steps [nzCurrent]="current">
  <nz-step *ngFor='let in of counter(20) ;let c = index'></nz-step>
</nz-steps>
<div class="steps-content"><h2>{{ index }}</h2><br>
  <nz-radio-group [(ngModel)]="radioValue" nzName="radiogroup">
    <label nz-radio nzValue="A">Редко</label>
    <label nz-radio nzValue="B">Иногда</label>
    <label nz-radio nzValue="C">Часто</label>
    <label nz-radio nzValue="D">Очень часто</label>
  </nz-radio-group>
</div>
<div class="steps-action">
  <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
    <span>Previous</span>
  </button>
  <button nz-button nzType="default" (click)="next()" *ngIf="current < 19">
    <span>Next</span>
  </button>
  <button nz-button nzType="primary" (click)="done()" *ngIf="current === 19">
    <span>Done</span>
  </button>

</div>

