<div class="d7">
  <h1 align=center>Болезненные отношения.<br> Признаки нездоровых отношений.</h1><br><br><br>
</div>

<div>
  <nz-list nzBordered nzSize="small">
    <nz-list-item><a (click)="onClick('1')"><h3>Партнёр постоянно соревнуется с вами</h3></a></nz-list-item>
    <nz-list-item><a (click)="onClick('2')"><h3>Вы чувствуете себя так, будто из вас высосали всю энергию</h3></a>
    </nz-list-item>
    <nz-list-item><a (click)="onClick('3')"><h3> Вы всегда виноваты во всех смертных грехах</h3></a></nz-list-item>
    <nz-list-item><a (click)="onClick('4')"><h3>Вас постоянно хотят поменять и улучшить</h3></a></nz-list-item>
    <nz-list-item><a (click)="onClick('5')"><h3>Партнёр говорит только о себе</h3></a></nz-list-item>
    <nz-list-item><a (click)="onClick('6')"><h3>Все ваши действия подвергаются критике</h3></a></nz-list-item>
    <nz-list-item><a (click)="onClick('7')"><h3>Партнёр контролирует все ваши действия</h3></a></nz-list-item>
    <nz-list-item><a (click)="onClick('8')"><h3>Вас ревнуют ко всем и всему</h3></a></nz-list-item>
    <nz-list-item><a (click)="onClick('9')"><h3>Партнёр постоянно обижается</h3></a></nz-list-item>
    <nz-list-item><a (click)="onClick('10')"><h3>Партнёр не научился говорить на вашем языке любви</h3></a>
    </nz-list-item>
    <nz-list-item><a (click)="onClick('11')"><h3>У вас слишком разные биоритмы</h3></a></nz-list-item>
  </nz-list>
</div>
<br>
<br>
<div>
  <h2 id="1"><i>Партнёр постоянно соревнуется с вами</i></h2>
  <p>По необъяснимым причинам ваш спутник постоянно сравнивает себя с вами и хочет показать, что он во всём
    лучше и круче. Нередко подобная демонстрация происходит публично, а каждое сказанное вами слово
    становится зацепкой для ожесточённого спора. Ваш партнёр использует любую возможность, чтобы
    самоутвердиться за ваш счёт и обесценить ваши достижения.</p>
  <p> здоровых отношениях оба партнёра самосовершенствуются и гармонично развиваются. В нездоровых отношениях
    вас воспринимают как соперника, которого любым способом нужно одолеть, чтобы получить пальму первенства.</p><br>
</div>
<div>
  <h2 id="2"><i>Вы чувствуете себя так, будто из вас высосали всю энергию</i></h2>
  <p>Отношения влияют на наше здоровье и самочувствие. Если вы начали меньше спать, похудели или набрали вес,
    а также постоянно ощущаете себя как выжатый лимон, возможно, рядом с вами находится энергетический
    вампир.</p>
  <p>Такие люди питаются за счёт энергии других людей и ликуют каждый раз, когда забирают чужие силы.
    В подобных отношениях у вас физически не хватает ресурсов, сил и желания что-то делать. Вас охватывает
    апатия, а на первый план выходят собственная несостоятельность и депрессия.</p><br>
</div>
<div>
  <h2 id="3"><i>Вы всегда виноваты во всех смертных грехах</i></h2>
  <p>В нездоровых отношениях партнёр не видит причины проблем и неудач в своих действиях и всегда склонен
    переносить вину на других, особенно на вас. Вы оказываетесь виноваты во всём, включая его ошибки и не
    зависящие от вас вещи.</p><br>
  <p>Ваша единственная задача — держать удар и не бесить партнёра, предупреждая его участившиеся вспышки гнева
    . Иногда вам хочется сбежать от этого и побыть подальше от своего спутника.</p><br>
</div>
<div>
  <h2 id="4"><i>Вас постоянно хотят поменять и улучшить</i></h2>
  <p>Не забывайте, что зрелые и крепкие отношения основаны на принятии партнёра таким, какой он есть. В
    нездоровых отношениях вас сравнивают с другими, при этом вам открыто говорят или вежливо намекают, что
    вам неплохо было бы что-нибудь поменять в себе, чтобы стать лучше.</p>
  <p>Возможно, вам стоит похудеть или потолстеть, отрезать или отрастить волосы, сменить имидж или выбросить
    половину гардероба. Вам всегда чего-то не хватает для того, чтобы партнёр был вами полностью
    доволен.</p><br>
</div>
<div>
  <h2 id="5"><i>Партнёр говорит только о себе</i></h2>
  <p>Ваш спутник не способен сочувствовать и сопереживать другим. У таких людей проблемы с эмоциональным
    интеллектом и эмпатией. Партнёр не в состоянии поставить себя на место другого человека, да он и не
    ставит перед собой такую задачу, потому что считает себя центром Вселенной. Он постоянно говорит о
    себе? Кажется, рядом с вами находится образцовый нарцисс.</p>
  <p>Нарциссы увлечены и поглощены собой настолько, что вообще не замечают происходящего вокруг. Как правило,
    такие люди много говорят о себе и часто перебивают других, не задают никаких вопросов и в принципе не
    умеют слушать. Потребности, желания и чувства такого человека всегда оказываются важнее ваших, так как
    в их картине мира всё должно вертеться вокруг их персоны.</p><br>
</div>
<div>
  <h2 id="6"><i>Все ваши действия подвергаются критике</i></h2>
  <p>Всё, что вы делаете или говорите, априори плохо. Как бы вы ни старались, ваш спутник всегда найдёт повод
    придраться и покритиковать вас и ваши мысли. Приготовленный омлет окажется слишком солёным, а платье 
    слишком коротким.</p><br>
  <p>Вы всегда будете неправы. Оправдываться или доказывать обратное смысла нет  —  всё равно найдутся новые
    поводы для недовольства. Никакие доказательства и аргументы не помогут — такой человек слышит только
    себя.</p><br>
</div>
<div>
  <h2 id="7"><i>Партнёр контролирует все ваши действия</i></h2>
  <p>Ваш спутник буквально одержим желанием подчинить себе всю вашу жизнь. Ему непременно нужно знать, где и
    с кем вы находитесь, что вы едите и во что сейчас одеты. Даже если вы встречаетесь с беременными
    подругами, вам обязательно позвонят и предложат забрать пораньше.</p>
  <p>Иногда такой контроль можно принять за заботу, но на деле ваш партнёр почувствовал себя хозяином вашей
    жизни. Люди, находящиеся в здоровых и гармоничных отношениях, понимают, что иметь свою жизнь и
    увлечения вне отношений  —  нормально и даже полезно для пары.</p><br>
</div>
<div>
  <h2 id="8"><i>Вас ревнуют ко всем и всему</i></h2>
  <p>Порой ревность  —  приятное чувство. Нам всем немного льстит, что мы нравимся кому-то ещё, а нас ревнуют
    (значит, любят). Но главное во всём  —  мера. Некоторые люди превращаются в настоящих тиранов,
    стараются полностью подчинить себе вторую половинку и воспринимают её как собственность. Иногда дело
    доходит до публичного унижения с выяснением отношений.</p>
  <p>Партнёр не доверяет вам, читает все ваши сообщения и устраивает скандалы из-за безобидных переписок в
    Facebook. Ревнивцы видят измену во всём и легко могут довести до истерики своими расспросами.
    Бестолковая, терроризирующая ревность неизбежно разрушает вашу самооценку, вы начинаете бояться гнева
    вашего партнёра.</p><br>
</div>
<div>
  <h2 id="9"><i>Партнёр постоянно обижается</i></h2>
  <p>Ваша жизнь не лишена драмы, а все ваши действия до слёз обижают вашего партнёра: он дуется, уходит,
    наглядно показывает, как плохо вы поступили, и демонстрирует, как сильно вы ранили его чувства. После
    такого вы чувствуете себя плохим человеком, жестоким чудовищем, а ваш спутник наслаждается
    скандалом.</p>
  <p>Любая попытка поговорить заканчивается новой обидой и обвинением в непонимании и отсутствии у вас
    эмоционального интеллекта. Возможно, что ваш партнёр сознательно использует такую тактику, манипулируя
    вашим чувством вины.</p><br>
</div>
<div>
  <h2 id="10"><i>Партнёр не научился говорить на вашем языке любви</i></h2>
  <p>Часто люди неправильно понимают потребности партнёра. Сначала в этом нет ничего страшного: всё можно
    наверстать, если захотеть. Научиться разговаривать на одном языке любви можно и нужно. Проблемы
    возникают, если за долгое время партнёр так и не понял, что вам нравится и что действительно нужно в
    любви именно вам, а не ему.</p>
  <p>Психологи выделяют пять языков любви:  слова поощрения, время, подарки, помощь, прикосновения. Нам всем
    нужно друг от друга разное. Важно понять, на каком языке любви говорит ваш спутник. Представим, что ваш
    язык любви  —  время. Печально, если партнёр этого не понимает и старается искупить своё отсутствие в
    вашей жизни подарками.</p><br>
</div>
<div>
  <h2 id="11"><i>У вас слишком разные биоритмы</i></h2>
  <p>Вам так и не удалось найти общий язык и договориться, когда лучше ложиться спать и во сколько вставать.
    Ваш партнёр живёт, пока вы спите, и наоборот. В итоге вы расстраиваетесь и переживаете, когда ваш
    спутник всю ночь играл в компьютерные игры, но проспал ваш единственный выходной.</p>
  <p>В здоровых отношениях удаётся найти баланс и изменить привычки, чтобы обоим чувствовать себя комфортно.
    В нездоровых отношениях это становится причиной для обоюдного расстройства.</p><br>
</div>
<div>
  <h2><i>Что делать, если вы увидели эти признаки в своих отношениях</i></h2>
  <p>Как минимум это повод задуматься и забить тревогу. Признание проблемы  —  первый шаг к её решению. Если
    вам хочется, чтобы партнёр вёл себя иначе, поговорите с ним по душам и озвучьте проблему. Коммуникация
    необходима для разрешения конфликтов в отношениях.</p>
  <p>Помните, что менять людей не по их инициативе  —  бессмысленное занятие. Если человек сам захочет
    измениться и вместе найти выход из ситуации, у этих отношений ещё есть шансы. В противном случае лучше
    закончить болезненные отношения и дать себе время на восстановление.</p><br>
</div>

